<div id="pageTitle">
<h1>Ban/Edit ModNotes for <?php echo $banUserName; ?></h1>
</div>

<div id="content">

<div id="links">
<?php if(isset($pageLinks)){ echo $pageLinks; } ?>
</div>

<div class="post">
<h3><?php echo $banUserName; ?></h3>
<ul>
<li>Join Date:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $banUserJoinDate; ?></li>
<li>Last Login:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $banUserLastLogin; ?></li>
<li>Email Address:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<?php echo $banUserEmail; ?></li>
</ul>
<br><br>
IP List:<br>
<?php echo $banUserIp; ?><br><br>

<form action="./index.php?m=<?php echo $moduleNumber; ?>&e=5&p=<?php echo $banUser; ?>" method="POST">
Mod Notes:<br>
<textarea name="modNotes">
<?php echo $banUserModNotes; ?>
</textarea>
<br><br>
Ban Month (1-12): <input type="text" name="banMonth" value="<?php echo $banUserMonth; ?>"><br>
Ban Day (1-31): <input type="text" name="banDay" value="<?php echo $banUserDay; ?>"><br>
Ban Year (<?php echo date("Y"); ?>-9999): <input type="text" name="banYear" value="<?php echo $banUserYear; ?>"><br>
<br><br>
<input type="checkbox" name="deleteAll"> Delete all comments by this user?
<br><br>
Ban Reason (<b>Only type here if banning!</b>):<br>
<textarea name="banReason">
<?php echo $banUserBanReason; ?>
</textarea>
<br><br>
<input type="submit" value="submit" name="submit">
</form>
</div>

</div><!-- end content -->
