<div id="pageTitle">
<h1><?php if(isset($pageName)){ echo $pageName; } ?></h1>
</div>

<div id="content">

<div id="links">
<?php if(isset($pageLinks)){ echo $pageLinks; } ?>
</div>

<div class="post">
<p class="postContent"><?php echo $pageContent; ?></p>

<ul>
<?php
$temp=0;
while($temp<$postCount){
?>
<li><a href="./index.php?m=<?php echo $moduleNumber; ?>&post=<?php echo $postNumber[$temp]; ?>"><?php echo $postName[$temp]; ?></a></li>
<?php
$temp=$temp+1;
}
?>
</ul>

</div>

</div><!-- end content -->
