<h2>Missing Page</h2>
</div><!-- End header here so we can set the page name --><br><br>

<div id="content">

<div id="links">
<?php if(isset($pageLinks)){ echo $pageLinks; } ?>
</div>

<div class="post">
<h1 class="title">404 - Page Not Found</h1>
<p class="postContent">We can't find that page. Sorry.</p>
</div>

</div><!-- end content -->
