<div id="pageTitle">
<h1><?php if(isset($pageName)){ echo $pageName; } ?></h1>
</div>

<div id="content">

<div id="links">
<?php if(isset($pageLinks)){ echo $pageLinks; } ?>
</div>

<?php if(strlen(trim($pageContent))>0){ ?>
<div class="post">
<p class="postContent"><?php echo $pageContent; ?></p>
</div>
<?php 
}
$temp=0;
while($temp<$postCount){
?>
<div class="post" style="margin-top: 30px;">
<h1 class="title"><a class="title" href="./index.php?m=<?php echo $moduleNumber; ?>&post=<?php echo $postNumber[$temp]; ?>"><?php echo $postName[$temp]; ?></a></h1>
<span class="postInfo"><?php echo $postAuthor[$temp] . " | " . $postDate[$temp]; ?></span>
<p class="postContent"><?php echo $postContent[$temp]; ?></p>
<?php if($postComments[$temp]){?>
<a href="./index.php?m=<?php echo $moduleNumber; ?>&post=<?php echo $postNumber[$temp]; ?>">Click Here to Comment!</a><br>
<?php } ?>
</div>

<?php
$temp=$temp+1;
}
?>


</div><!-- end content -->
