<div id="pageTitle">
<h1><?php if(isset($postName)){ echo $postName; } ?></h1>
</div>

<div id="content">

<div id="links">
<?php if(isset($pageLinks)){ echo $pageLinks; } ?>
</div>

<div class="post">
<h1 class="title"><?php echo $postName; ?></h1>
<span class="postInfo"><?php echo $postAuthor . " | " . $postDate; ?></span>
<p class="postContent"><?php echo $postContent; ?></p>

<br><hr><br><b>Comments:</b><br>
<?php if($postComments){ //if comments are allowed on this post ?>
<?php 
if($_SESSION['user_number']>=0){ //if we are logged in ?>
<form action="./index.php?m=<?php echo $moduleNumber; ?>&post=<?php echo $postNumber; ?>" method="POST">
<textarea name="comment" rows="5" cols="50"></textarea><br>
<input type="submit" value="Submit" name="submit"><br><br>
</form>

<?php }else{ //if we are not logged in ?>
<b><a href="./index.php?m=<?php echo $moduleNumber; ?>&e=2" class="link">You MUST login to comment.</a></b><br><br>

<?php } //end if we are not logged in
if((isset($commentCount)) && ($commentCount>0)){ //if there are comments
$temp = 0;
while($temp<$commentCount){
?>
<div class="comment">
<?php echo $commentContent[$temp]; ?><br>
<span class="postInfo">Posted by: <?php echo $commentAuthor[$temp]; ?><br>
<?php
if((isset($userRank)) && ($userRank>0)){ //if user is a mod or admin
if($commentAuthorNumber[$temp]!=$_SESSION['user_number']){
?>
<a href="./index.php?m=<?php echo $moduleNumber; ?>&e=5&p=<?php echo $commentAuthorNumber[$temp]; ?>" class="link">Ban User</a>&nbsp;&nbsp;|&nbsp;&nbsp;
<?php
}
?>
<a href="./index.php?m=<?php echo $moduleNumber; ?>&e=6&p=<?php echo $commentNumber[$temp]; ?>" class="link">
Delete Comment</a>
<?php } ?>
</span>
</div>

<?php
$temp = $temp + 1;
}}else{ //if there are no comments
?>
<div class="comment"><p>No comments yet. Be the first to comment!</p></div>
<?php } //end if there are no comments
}else{ //if comments are NOT allowed on this post
?>
<div class="comment">
<p>Comments are disabled on this post.</p>
</div>
<?php } //end if comments are NOT allowed on this post ?>

</div>

</div><!-- end content -->
