<div id="pageTitle">
<h1><?php if(isset($pageName)){ echo $pageName; } ?></h1>
</div>

<div id="content">

<div id="links">
<?php if(isset($pageLinks)){ echo $pageLinks; } ?>
</div>

<div class="post">
<h1 class="title"><?php echo $pageName; ?></h1>
<span class="postInfo"><?php echo $pageAuthor . " | " . $pageDate; ?></span>
<p class="postContent"><?php echo $pageContent; ?></p>
</div>

</div><!-- end content -->
